@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.badge {
  @include flex(row, flex-start, center, 16px);
  flex-wrap: wrap;
  flex: 1;
  border-radius: 15px;
  padding: 16px;
  max-width: 350px;

  @media screen and (max-width: 1100px){
    @include flex(column, flex-start, stretch, 8px);
    min-height: 170px;
    max-height: 200px;
  }

  * {
    color: $black;
  }

  &__icon {
    @include center();
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
  }

  &__content {
    @include flex(column, center, flex-start, 2px);
  }

  &__amount {
    flex-wrap: nowrap;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  &__label {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }

  svg {
    @include size(26px);
    path {
      fill: $black;
    }
  }
  
}