@import "./variables.scss";

@mixin header() {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin raleway() {
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
}

@mixin flex($fd, $jc, $ai, $gap) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin center() {
    display: grid;
    place-items: center;
}

@mixin border-rad-m() {
    border-radius: 20px;
}
