.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-gap: 30px;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;


  @media screen and (max-width: 1360px) {
    grid-template-columns: 1fr;
  }

}