@import "./../../../styles/mixins.scss";
@import "./../../../styles/variables.scss";

.title {
    @include raleway();
    @include flex(row, flex-start, flex-start, 10px);

    font-weight: 300;
    &__h1 {
        font-size: 36px;
        line-height: 36px;
    }
}
